* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat, 'Times New Roman';
}

:root {
    --main-color:#7B0323;
}

body {
    background-color: black;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    z-index: 1000;
    background-color: black;
}

.logo {
    font-size: 25px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

.logo span {
    color: #7B0323;
}

#menu-icon {
    display: none;
    font-size: 30px;
    color: white;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    padding: 0 10px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}
.home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/curtains.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h2 {
    color: white;
    width: 65%;
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
}

.content img {
    width: 80%;
    margin-right: 35px;
}

.content button {
    padding: 20px 20px;
    font-size: 30px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: rgb(23, 23, 23);
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
}

.content button:hover {
    background-color: var(--main-color);
    color: black;
}

.event-page h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}

.event-content {
    display: flex;
    background-color: var(--main-color);
    padding: 40px 20px;
    margin: 30px;
    border-radius: 10px;
}

.event-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.event-summary p {
    color: white;
    font-weight: 500;
    font-size: 30px;
    width: 100%;
    line-height: 1.7em;
    margin: 15px 0;
}

.btn {
    padding: 30px 30px;
    color: white;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
}

.btn button {
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.event-content img {
    width: auto;
    height: 400px;
}

/*Responsiveness*/

/* For Small Devices */

@media only screen and (min-width: 320px) {
    
    .event-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .event-page h2 {
        font-size: 40px;
      }
      .event-summary p {
          font-size: 10px;
          line-height: 1.5rem;
          margin: 10px;
      }
      .btn {
          padding: 15px 15px;
      }
      .btn button {
          font-size: 15px;
      }
      .btn i {
          font-size: 20px;
      }

    .event-content img {
        position: absolute;
        transform: scaleX(-1);
        left: 25%;
        top: 112%;
        margin-top: 10px;
        width: auto;
        height: 110px;
    }
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: 0%;
        width: 100%;
        display: none;
        background-color: black;
    }
    .navbar li {
        display: block;
        text-align: center;
        font-size: 25px;
        margin: 20px 0;
    }
    .navbar.active {
        display: block;
    }
}

@media only screen and (min-width: 375px) {
    .event-content img {
        position: absolute;
        transform: scaleX(-1);
        left: 30%;
        top: 113%;
        margin-top: 10px;
        width: auto;
        height: 110px;
    }
}




